/* static/css/style.css */

body {
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  h2 {
    color: #290993;
    font-size: 18px;
  }

  p {
    color: #777777;
    font-size: 14px;
  }